{% extends '::base.html.twig' %}

{% block head %}
    <title>{% block title %} {{ obj.title }} - Wiki homepage{% endblock %}</title>
    <meta charset="utf-8">
{% endblock head %}


{% block body %}
    <br/>
    {% if obj == true %}
    <p><h3>Заголовок страницы: {{ obj.title }}</h3></p>
    <hr>
    <p><em>{{ obj.title }}</em></p>
    <br/>
    <p><em>{{ obj.text }}</em></p>
    <a href="{{path('edit',{'alias' : obj.alias}) }}" style="margin: 0 10px; color: #228B22">Редактировать страницу: {{ obj.title }}</a>
    <br/>
    <br/>
    <a href="{{path('page-delete',{'alias' : obj.alias}) }}" style="margin: 0 10px; color: #FF1493" onclick="return confirm('Вы уверены, что хотите удалить страницу? {{ obj.title }}')">Удалить страницу: {{ obj.title }}</a>
    <hr>
    <p><h3>Страницу вы найдете по адресу: {{ obj.alias }} </h3></p>
    <a href="{{path('homepage')}}"style="margin: 0 10px; color: #191970">Главная страница</a>
    {% elseif obj == false %}
        <p>Oops страница не найдена...</p>
        <p>Но вы можете ее создать!</p>
    {% endif %}

{% endblock body %}

